a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    z-index: 1;
    /* margin-bottom: 40px; */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 175px;
    max-width: 175px;
    background: #4E5D6C;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(255,255,255,0.075);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #aaa;
    margin: 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #4E5D6C;
    background: #fff;
}

#sidebar ul.submenu li:first-child a {
  border-top: 1px solid #aaa;
}

#sidebar ul.submenu li a {
  border-bottom: 1px solid #aaa;
}

#sidebar ul.submenu li .dropdown-menu a:last-child {
  border-bottom: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    /* background: rgba(255,255,255,0.075); */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(255,255,255,0.075);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.menu-icon {
  margin-right: 5px;
}

ul.submenu li {
    cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
