{% extends 'base.html'%}

{% block title %}Delete Project{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <div class="row">
      <div>
        <h1>Delete Project</h1>
        <p class="lead">Are you sure you want to delete <u>&ldquo;{{project.name}}&rdquo;</u>?</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <form method="post">
        <button type="submit" class="btn btn-danger">Yes! Delete this project</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}